/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
/public/packs
/public/packs-test
/node_modules
spec/examples.txt
